.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: flex-end;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.feynman__link:hover {
  opacity: 0.5;
}
